@media screen and (max-width:390px) {
  body .container {
    padding: 1rem;
    width: 390px;
  }

  header {
    width: 100%;
    justify-content: flex-end;
  }

  header a {
    display: none;
  }

  section {
    flex-direction: column-reverse;

  }

  img {
    margin-top: 50px;
    width: 312px;
    height: 288px;
  }

  section .content-info {
    width: 358px;
    display: block;
    padding: 0;
    text-align: center;
  }

  .content-info h1 {
    color: #161A49;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0.596px;
  }

  .content-info p {
    font-size: 18px;
    width: 304px;
    text-align: center;
    margin-top: 47px;
    margin-bottom: 55px;
    margin: 1rem auto 1rem auto;
  }


}